# dotenv environment variables file
.env
docker/.env
overwrite.env

# docker
docker/mongo
docker/mongo-rs-1
docker/mongo-rs-2
docker/database/*
docker/logs/*
docker/upload/*

# MacOS
*.DS_Store

#dist
dist