# dotenv environment variables file
.env
docker/.env
overwrite.env

# docker
docker/mongo1
docker/mongo2
docker/mongo3
docker/database/*
docker/logs/*
docker/upload/*
docker/*.override.yml

# MacOS
*.DS_Store

#dist
dist